<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="%% url_for('static', filename='css/bootstrap.min.css') %%">
    <style>
        mark {
            padding: 0;
        }
        svg > rect.vote-bar {
            transition: width 1s;
        }
    </style>
    <title>Project 2: Flack app</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Flack</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block heading %}{% endblock %}</h1>

                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="%% url_for('static', filename='libraries/socket.io.dev.js') %%"></script>
    <script type="text/javascript" src="%% url_for('static', filename='libraries/vue.js') %%"></script>
    <script type="text/javascript" src="%% url_for('static', filename='index.js') %%"></script>
</body>
</html>